@import './settings.scss';
@import '../assets/fonts/fonts.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a,
button {
  font-family: 'Montserrat', sans-serif;
}
