$color-light: #fff;
$color-dark: black;

$color-lightGrey: #f7f8fa;
$color-grey: #c0c7d6;
$color-middleGrey: #dfe2e8;
$color-darkGrey: #737c8e;

$color-darkPurple: #c0c7d6;
$color-lightPurple: #eceff7;

$color-success: #8fcb81;
$color-error: #cb8581;
$color-warning: #e1d888;

$font-size-xl: 30px;
$font-size-l: 17px;
$font-size-m: 12px;
$font-size-s: 11px;
