@import '../../../styles/settings.scss';

.button {
  margin: 15px 0;
  padding: 7px 20px;
  font-size: $font-size-s;
  background-color: $color-lightPurple;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  color: $color-darkGrey;
}
